* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1rem;
}

ul {
    list-style: none;
}

.game-section {
    height: 100vh;
}

.game-container__player-one ul, 
.game-container__player-two ul {
    display: flex;
    justify-content: center;
    column-gap: 0.5rem;
}; 

img {
    width: 100px;
    height: 200px;
}

.alert {
    color: red;
    position: absolute;
    right: 0;
    top: 0;
    padding: 2rem 4rem;
    border: red 1px solid;
}
