* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: red;
}

img {
    width: 100px;
    height: 200px;
}

.alert {
    color: red;
    position: absolute;
    right: 0;
    top: 0;
    padding: 2rem 4rem;
    border: red 1px solid;
}

li {
    display: inline;
}